<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <form [formGroup]= "Formulario">
        <div class="form-group">
            <label for="">Campo1</label><br>
            <input 
                type="text"
                placeholder="campo1"
                formControlName ="campo1"
                required
                ><br>
            <small *ngIf = "formularioReactivo.campo1?.errors?.required && formularioReactivo.campo1.touched">
            campo1 es requerido
            </small>

            <label for="">Campo2</label><br>
            <input type="text"
                placeholder="Campo2"
                formControlName ="campo2"
            
            >
    
            <br>

            <button 
                class="btn btn-primary"
                type="submit"
                (click)= "botonEnviar()"
                [disabled]= "!Formulario.valid"> Enviar</button>
      </div>
     </form>

</body>
</html>
